
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f7f7f7;
  color: #333;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;

  text-align: center;


 
}

.chart {
  max-width: 50%;
  height: auto;
  border: 2px solid #2a9df4;
  border-radius: 8px;
  margin: 10px auto;
}
.chart-container:hover {
  background-color: #e3f2fd;
  transition: background-color 0.3s ease;
}
table {
  border-collapse: collapse;
  margin: 10px auto 30px auto;
  width: 70%;
}

th, td {
  border: 1px solid #2a9df4;
  padding: 8px 16px;
  text-align: center;
}

th {
  background-color: #2a9df4;
  color: white;
}

tr:nth-child(even) {
  background-color: #f0f8ff;
}

button {
  padding: 10px 20px;
  background-color: #2a9df4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#data-synopsis {
  text-align: left;
}
#hypotheses {
  text-align: left;
}